@font-face {
font-family: 'Arizona-Medium'; 
src: url('https://n-rad.github.io/notch/ABCArizonaSerif-Medium.woff2') format('woff2'); 
font-weight: 500; 
font-style: normal;
}

@font-face {
font-family: 'Arizona-MediumItalic'; 
src: url('https://n-rad.github.io/notch/ABCArizonaSerif-MediumItalic.woff2') format('woff2'); 
font-weight: 500; 
font-style: italic;
}

@font-face {
font-family: 'Arizona-Regular'; 
src: url('https://n-rad.github.io/notch/ABCArizonaSerif-Regular.woff2') format('woff2'); 
font-weight: 400; 
font-style: normal;
}

@font-face {
font-family: 'Arizona-RegularItalic'; 
src: url('https://n-rad.github.io/notch/ABCArizonaSerif-RegularItalic.woff2') format('woff2'); 
font-weight: 400; 
font-style: italic;
}

@font-face {
font-family: 'Gravity-Compressed'; 
src: url('https://n-rad.github.io/notch/ABCGravity-Compressed.woff2') format('woff2'); 
font-weight: 400; 
font-style: normal;
}

@font-face {
font-family: 'Gravity-CompressedItalic'; 
src: url('https://n-rad.github.io/notch/ABCGravity-CompressedItalic.woff2') format('woff2'); 
font-weight: 400; 
font-style: italic;
}
